.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1493932484895-752d1471eab5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=836d0f2a3ff5d2ed1481daae93c662a3&auto=format&fit=crop&w=755&q=80);
    background-size: cover;
    height:670px;
    background-repeat: no-repeat;
}
.login__form{
    background-color: whitesmoke;
    width : 400px;
    height: 300px;
    margin-top : 100px;
    border-radius: 15px;
}
.login__form form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
}
.login__form form input{
    border: 0;
    padding :20px;
}
.login__form--submit{
    
  cursor: pointer;
  font-weight: 700;
  background-color: #DB7F8E;
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.2);
  padding: 20px;
  border :0;
  color: #FFDBDA;
  
}
.login__form--submit:hover{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}
